

/* ==== Common Fix starts here==== */
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Inter', sans-serif;
}
/* ==== Common Fix ends here==== */

/* ===== First section starts here===== */
.firstsection {
    height: 460px;
    border: 3px solid #000;
display: flex;
    
}

.firstsection-leftdiv {
        width: 50%;
        height: 100%;
    background: var(--gray-color);
  padding: 20px;
}

 .firstsection-rightdiv{
    width: 50%;
    height: 100%;
    background: var(--linear-gradient), url("./images/image1.jpg");
    background-size: cover;
    background-position: bottom left;
 }
span{
    color:var(--main-color)
}

.logotext{
    margin-bottom: 20px;}

.heading {
    margin-bottom: 20px;
}

.line{
    width: 224px;
    height: 16px;
    background-color: var(--main-color);
}

.firstsection-leftdiv p{
     margin-bottom: 25px; 
    }

     .link-holder{
        border: 3px solid purple;
        color: var(--white-color);
        text-transform: uppercase;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
}


}
     
/* ===== First section starts here===== */

